.intro {
  text-align: center;
  font-family: Open Sans Condensed;
  color: white;
  background-color: black;
  max-width: 50%;
  margin: auto;
  padding: 25px;
  margin-bottom: 10px;
}

span.fancy {
  font-size: 50px;
  font-family: cursive;
}

span.em {
  font-style: italic;
  color: red;
}

img {
  display: block;
  margin: auto;
}

p {
  text-align: left;
  max-width: 50%;
  margin: auto;
  padding-top: 2em;
}

body {
  background-color: #9f9eb5;

}
